
<div layout layout="row" flex>
  <md-button ng-click="toggleLeft()"
    hide-gt-md>
    View Columns
  </md-button>
  <md-button ng-click="toggleRight()"
    ng-hide="isOpenRight()">
    Submit
  </md-button>
  <md-button>Item 2</md-button>
</div>

<div layout layout="column" ng-cloak flex>
  <section layout="row" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Columns</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Hide
        </md-button>
        <p>
          To view the graphs for a column, click on one of the column names.
        </p>
        <md-list-item ng-repeat="column in columns" ng-click="switchView(column.name);close()"> 
          <p>{{column.name}}</p>
        </md-list-item>
        <md-list-item ng-click="submit()">
          <p>Submit</p>
        </md-list-item>
      </md-content>
    </md-sidenav>

    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <div layout="row" ng-repeat="column in columns" ng-cloak ng-show="whichActive==column.name">
          <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" ng-cloak>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>Column: {{column.name}}</h2>
              </div>
            </md-toolbar>
            <md-list ng-if="column.treatAs == 'both'">
              <md-list-item>
                <p>Should this column be treated as discrete or continuous</p>
                <md-switch class="md-secondary" ng-model="column.continuous">
                  {{column.continuous}}
                </md-switch>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>

            <view-bar 
                layout="column"
                ng-if="column.treatAs=='continuous' || column.continuous"
                column='column'>
            </view-bar>
            <view-bubble 
                layout="column"
                ng-if="column.treatAs=='discrete' || column.continuous==false"
                column='column'>
            </view-bubble>
          </md-whiteframe>
        </div>
      </div>
      <div flex></div>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Submit</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>