
<md-whiteframe class="md-whiteframe-1dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Column: {{column.name}}</h2>
      <md-menu md-position-mode="target-right target">
        <md-button md-menu-origin ng-click="$mdOpenMenu()">Graph Settings </md-button>
        <md-menu-content width="6">
          <md-list>
            <md-list-item>
              <p>Use Linear Scale</p>
              <md-switch class="md-secondary" ng-model="linearScale"></md-switch>
            </md-list-item>
          </md-list>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>

  <md-list>
    <md-subheader class="md-no-sticky">Single Action Checkboxes</md-subheader>
    <md-list-item>
      <p>Should this column be included?</p>
      <md-checkbox class="md-secondary" ng-model="isIncluded"></md-checkbox>
    </md-list-item>
    <md-divider ng-hide="!isIncluded"></md-divider>

    <md-list-item ng-hide="!isIncluded">
      <p>Should we categorize the data into bins?</p>
      <md-checkbox class="md-secondary" ng-model="isCategorized"></md-checkbox>
    </md-list-item>
    <md-divider ng-hide="!isCategorized"></md-divider>

    <md-list-item ng-hide="!isCategorized">
      <p>Number of categories</p>
    </md-list-item>
    <md-list-item ng-hide="!isCategorized">
      <md-slider flex md-discrete min="0" max="20" ng-model="categories" aria-label="red"></md-slider>
    </md-list-item>
  </md-list>

  <md-grid-list
    md-cols="2" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="6"
    md-row-height-gt-md="4:3" md-row-height="4:3"
    md-gutter="8px" md-gutter-gt-sm="4px" >
    <md-grid-tile 
      ng-repeat="tile in tiles"
      md-rowspan="{{tile.span.row}}"
      md-colspan="{{tile.span.row}}"
      style="background:{{'#'+tile.colour}}"
      ng-class="{selected: $index==selectedIndex}"
      class="bubble-category">
      <div layout-fill md-ink-ripple="true" ng-click="selectTile(tile, $index)">
        <md-menu>
          <md-button md-menu-origin ng-click="$mdOpenMenu()">+</md-button>
          <md-menu-content width="4" layout-padding>
            <form name="testForm">
              <p>Type the names of the values you want to be in this category, separated by commas</p>
              <div layout="row" layout-align="center center">
                <md-input-container md-no-float layout-fill>
                  <textarea ng-model="tile.categoricalMap"
                    name="categoricalMap"
                    ng-pattern="regexp"
                    placeholder="{{tile.colour}}"></textarea>
                  <div ng-messages="testForm.categoricalMap.$error">
                    <div ng-message="pattern">
                      Sorry, check the format one more time! Values must be separated with commas.
                    </div>
                  </div>
                  <md-button 
                    ng-disabled="testForm.categoricalMap.$invalid" 
                    ng-click="validate(tile, $index)">OK</md-button>
                </md-input-container>
              </div>
            </form>
          </md-menu-content>
        </md-menu>
      </div>

      <md-grid-tile-footer>
        <md-input-container md-no-float>
          <input ng-model="tile.name" ng-blur="changeTileName(tile, $index)" placeholder="{{tile.colour}}">
        </md-input-container>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>

  <bubble-graph column="column"></bubble-graph>
</md-whiteframe>