<md-list>
  <md-list-item>
    <p>Use Linear Scale</p>
    <md-switch class="md-secondary" ng-model="linearScale"></md-switch>
  </md-list-item>
  <md-list-item>
    <p>Should this column be included?</p>
    <md-checkbox class="md-secondary" ng-model="isIncluded"></md-checkbox>
  </md-list-item>
  <md-divider ng-hide="!isIncluded"></md-divider>

  <md-list-item ng-hide="!isIncluded">
    <p>Should we categorize the data into bins?</p>
    <md-checkbox class="md-secondary" ng-model="isCategorized"></md-checkbox>
  </md-list-item>
  <md-divider ng-hide="!isCategorized"></md-divider>

  <md-list-item ng-hide="!isCategorized">
    <p>Number of categories</p>
  </md-list-item>
  <md-list-item ng-hide="!isCategorized">
    <md-slider flex md-discrete min="0" max="20" ng-model="categories" aria-label="red"></md-slider>
  </md-list-item>
  <md-divider ng-hide="!categories"></md-divider>

  <md-list-item ng-hide="!categories">
    <p>Evenly distributed?</p>
    <md-checkbox class="md-secondary" ng-model="isEvenlyDistributed"></md-checkbox>
  </md-list-item>
  <md-divider ng-hide="!categories"></md-divider>
</md-list>

<bar-graph column="column"></bar-graph>
